<html>
    <div class="col-sm-8 text-left">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
        <h3>About</h3>
        <p>Avail 60-120-180-hour Industry Experience Program by LIDI and become an experienced Industry Professional in your desired domain</p>
        <h4>Let's step into the shoes and gain real-time Industry experience</h4>
        <ul style="line-height:180%">
        <li>Content Writing</li>
        <li>Digital Marketing</li>
        <li>Brand Manager</li>
        <li>Graphic Designer</li>
        <li>Journalism</li>
        <li>Recruiter</li>
        <li>Career Counselor</li>
        <li>Business Strategy</li>
        <li>Dubbing Artist</li>
        <li>Python Development</li>
        <li>Human Resource</li>
        <li>Market Research</li>
        <li>Business Development</li>

        </ul>
  </div>
</html>